$bg-peach-dark: #f6416c;
$bg-peach-light: #ff9a9e;

$base-color-dark: hsl(323, 21%, 16%);
$bg-color-pink: hsl(317, 100%, 54%);
$bg-color-light: hsl(323, 21%, 61%);

$light-green: hsl(150, 72%, 37%);

$letter: 6;
