@import "./scss/variable";
@import "../styles.scss";

:nost ::ng-deep div {
    background: hsl(323, 75%, 23%);
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}

.card {
    display: flex;
    align-items: center;
    height: 10rem;
    min-width: 30rem;
    padding: 7rem;
    margin: 5rem;
}

:host ::ng-deep .highlighter {
    color: #fff;
    font-size: 1rem;
    font-style: italic;
}

:host ::ng-deep .highlighter:hover {
    transform: scale(1.2);
    text-shadow: 1em 1em 1rem #a52163;
}

header {
    background-color: hsl(323, 68%, 44%);
    height: 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .logo {
        background: url(../assets/images/logoC.jpg) center;
        width: 5em;
        height: 5em;
        border-radius: 50%;
    }
    & .nav-bar {
        & ul {
            content: "33";
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            text-align: center;

            & li {
                display: list-item;
                background-color: hsl(150, 72%, 37%);
                border-radius: 2em;
                width: 6em;
                font-family: "Montez", cursive;
                color: #fff;
                list-style-position: inside;
                background: linear-gradient(to right bottom, $light-green, $bg-color-pink, $bg-peach-light);

                & span {
                    padding-left: 1em;
                }

                &::marker {
                    font-family: "FontAwesome";
                    font-weight: 400;
                    content: "\f179";
                    color: #fff;
                }

                &:nth-child(2)::marker {
                    content: "\f2dd";
                }

                &:nth-child(3)::marker {
                    content: "\f2d6";
                }
            }
        }
    }
}

:host-context(body) {
    @include bgcolor($bg-peach-light, $bg-peach-dark);
}
