<header>
    <a class="logo"></a>
    <nav class="nav-bar">
        <ul>
            <li class="links"><a [routerLink]="['/ngrx']"><span>Ngrx</span></a>
            </li>
            <li class="links"> <a routerLink="/pseudo"><span>Pseudo</span></a>
            </li>
            <li class="links"><a routerLink="/neon"><span>Neon</span></a>
            </li>
            <li class="links"><a routerLink="/glass"><span>Glass</span></a>
            </li>
            <li class="links"><a routerLink="/view"><span>View</span></a>
            </li>

            <li class="links"><a routerLink="/rxjs"><span>Rxjs</span></a>
            </li>
            <li class="links"><a routerLink="/temp"><span>Template</span></a>
            </li>
        </ul>
    </nav>
</header>
<router-outlet></router-outlet>