<div class="button-animations">



    <div class="button-controls1">
        <a data-text="Hover Effects">
            <span>T</span>
            <span>H</span>
            <span>A</span>
            <span>N</span>
            <span>K</span>
            <span>S</span>
        </a>
    </div>



    <div class="button-controls2"><a href="javascript:void(0);" class="btn">Lorem ipsum dolor sit amet.</a></div>
    <div class="button-controls3"><a href="javascript:void(0);" class="btn"></a></div>
    <div class="button-controls4"><a href="javascript:void(0);" class="btn"></a></div>
    <div class="button-controls5"><a href="javascript:void(0);" class="btn"></a></div>
</div>