<p class="line">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae ex beatae consequuntur,
    alias reprehenderit sunt quam necessitatibus. Placeat delectus nisi ipsa laboriosam officiis consectetur similique.
    Maxime, enim delectus amet itaque ut sed nobis vitae repellendus dolores pariatur similique?
    Alias, officia doloremque accusantium accusamus adipisci quidem rem cum incidunt veritatis aliquam.</p>


<p class="letter">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem, non?</p>


<h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam, natus. Quam magni totam asperiores,
    voluptas laboriosam sint doloremque ad. Aliquam ab exercitationem libero nam id sint est consequatur explicabo
    tenetur?</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo dignissimos accusamus minima deserunt voluptatibus
    asperiores
    corrupti placeat temporibus id reiciendis!</p>
<div class="notselectot">

    <p> p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas ut similique eum nobis suscipit voluptates,
        dolores porro esse a amet architecto magni. Ab molestias laborum quia perspiciatis, rerum voluptates aperiam.
    </p>

    <p>p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas ut similique eum nobis suscipit voluptates,
        dolores porro esse a amet architecto magni. Ab molestias laborum quia perspiciatis, rerum voluptates aperiam.
    </p>

    <span>p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas ut similique eum nobis suscipit
        voluptates,</span>
    <br>
    <span>
        dolores porro esse a amet architecto magni. Ab molestias laborum quia perspiciatis, rerum voluptates aperiam.
    </span>


    <h2>h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim exercitationem sequi dolores? Temporibus amet
        facere
        consequatur, eligendi, voluptate saepe perferendis provident accusamus officiis veritatis eaque hic sapiente.
        Dicta
        aperiam repudiandae ex fuga! Error aperiam amet recusandae et sit soluta, quas voluptas eos,
        odio tempora doloribus enim tenetur optio atque id magnam totam voluptatibus in. Accusamus ab illo commodi
        laudantium corrupti?</h2>
</div>

<span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit dicta temporibus necessitatibus consequatur
    accusamus ipsa
    nobis repellat quibusdam fuga. Adipisci maxime cumque soluta nobis labore,
    tempora, perspiciatis inventore dolorem optio earum tempore molestiae temporibus nisi. Odit beatae aliquid ut
    hic!</span>
<br>

<span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit dicta temporibus necessitatibus consequatur
    accusamus ipsa</span>


<p class="line">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae ex beatae consequuntur,
    alias reprehenderit sunt quam necessitatibus. Placeat delectus nisi ipsa laboriosam officiis consectetur similique.
    Maxime, enim delectus amet itaque ut sed nobis vitae repellendus dolores pariatur similique?
    Alias, officia doloremque accusantium accusamus adipisci quidem rem cum incidunt veritatis aliquam.</p>


<p class="letter">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem, non?</p>


<h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam, natus. Quam magni totam asperiores,
    voluptas laboriosam sint doloremque ad. Aliquam ab exercitationem libero nam id sint est consequatur explicabo
    tenetur?</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo dignissimos accusamus minima deserunt voluptatibus
    asperiores
    corrupti placeat temporibus id reiciendis!</p>

<span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit dicta temporibus necessitatibus consequatur
    accusamus ipsa
    nobis repellat quibusdam fuga. Adipisci maxime cumque soluta nobis labore,
    tempora, perspiciatis inventore dolorem optio earum tempore molestiae temporibus nisi. Odit beatae aliquid ut
    hic!</span>
<br>

<span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit dicta temporibus necessitatibus consequatur
    accusamus ipsa</span>


    